// @media (min-width: 1200px) {
//     .home {
//         max-width: 2200px;
//     }
// }

// /* extra large devices */
// @media screen and (min-width: 1800px) {
//     .home {
//         max-width: 1800px;
//     }
// }


// @media (min-width: 3200px) {
//     .menus {
//         max-width: 3200px;
//     }
// }

// /* extra large devices */
// @media screen and (min-width: 3800px) {
//     .menus {
//         max-width: 3800px;
//     }
// }

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');


* {
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

.main1 {
    background-color: gray;
    color: white;
}

.home {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    padding: 10px;
    flex-direction: column;

    .logo {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px 10px 10px 10px;
        /* padding: 20mm; */
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        padding-left: 40%;
        padding-right: 40%;
        padding-top: 3%;

        h1 {
            font-family: 'PT Sans', sans-serif;
            font-style: italic;
            font-variant: small-caps;
        }
    }



    .box {
        padding: 10px;
    }

    .formContainer {

        h1 {
            font-family: 'PT Sans', sans-serif;
            font-style: normal;
            color: black;
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px;
        font-size: large;
        padding-right: 8%;
        padding-left: 8%;

        .formWrapper {
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
            padding: 10mm;
            border-radius: 10px 10px 10px 10px;
            border: 10px solid rgba(0, 0, 0, 0.5);
            padding: 20%;
            background-color: chocolate;
        }

        .formWrapper1 {
            background-color: darkgoldenrod;
        }

        .formWrapper2 {
            background-color: darksalmon;
        }

        .block {
            background-color: aquamarine;
        }

        .formtab {
            font-weight: bold;
            font-size: x-large;

            input {
                padding: 12px;
                border: none;
                width: 250px;
                border-bottom: 1px solid aquamarine;

                &::placeholder {
                    color: cadetblue;
                }
            }

            button {
                margin-top: 20px;
                background-color: deepskyblue;
                color: black;
                padding: 10px;
                padding-left: 15px;
                padding-right: 15px;
                font-weight: bold;
                border: none;
                cursor: pointer;
                border-radius: 10px 10px 10px 10px;
            }

            button:hover {
                background-color: dodgerblue;
                color: white;
                transform: scale(1.2);
            }
        }

        p {
            cursor: pointer;
        }

        .side {
            align-items: center;
            justify-content: center;
            color: darkslategrey;
            font-weight: bold;
            font-size: larger;

            span {
                color: black;
            }
        }
    }

    .customer {
        width: 20%;
        padding-top: 1%;
        padding-bottom: 1%;
        margin-bottom: 4%;
        border: 1px solid black;
        border-radius: 10px 10px 10px 10px;
        display: block;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: cornsilk;
        font-size: large;
        font-weight: bold;

        a {
            text-decoration: none;
            color: black;

        }
    }

    .customer:hover {
        transform: scale(1.06);
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);
        background-color: black;

        a {
            color: yellow;

        }
    }
}



.menus {

    .navbar {
        // width: 410mm;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 5px;
            overflow: hidden;
            background-color: thistle;
            width: auto;
        }

        li {
            float: left;
            cursor: pointer;
        }

        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .link:hover {
            background-color: deeppink;
            transform: scale(1.05);
            color: white;
            font-weight: bold;
        }

        li a:hover {
            background-color: violet;
        }

        .main {
            font-size: large;
            font-weight: bolder;
        }

        .logout {
            overflow: hidden;
            // position: fixed;
            float: right;
            margin-right: 5mm;
            align-items: center;
            justify-content: center;

            button {
                background-color: aquamarine;
                overflow: hidden;
                border-radius: 10px 10px 10px 10px;
                color: black;
                font-weight: bold;
                display: block;
                text-align: center;
                padding: 14px 16px;

            }

            button:hover {
                background-color: rgba(rgb(29, 21, 15), 0.65);
                color: white;
                border: 1px solid white;

            }
        }

        .logout:hover {
            transform: scale(1.09);
            border-radius: 10px 10px 10px 10px;
            overflow: hidden;
            background: transparent;
        }

        .dropdown {

            .dropdown-content {
                display: none;
                position: absolute;
                z-index: 1;
                background-color: tan;
            }
        }

        .dropdown:hover {
            .dropdown-content {
                display: block;
            }

            a:hover {
                background-color: darkgoldenrod;
                color: white;

            }
        }
    }

    .imgItem {
        height: 200px;
        width: 200px;
        padding: 10px;
        padding-left: 20px;
    }

    .all-menu {
        width: fit-content;
        min-width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        // grid-template-columns: auto auto auto;
        // grid-template-rows: auto auto;
        // grid-gap: 30px;
        background-color: lavender;
        overflow: none;
        // padding: 40px;
        // margin-top: 20mm;

        div {
            background-color: rgba(255, 255, 255, 0.6);
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
            position: relative;
        }

        .item {
            display: flex;
            flex-direction: row;
            padding-left: 5px;
            // width: 80%;
            margin: 30px;
            border-radius: 10px 10px 10px 10px;



            .details {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                font-size: medium;
                font-weight: 600;
                font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                float: left;
                background-color: transparent;

                .dishName{
                    max-width: 80%;
                    font-family: 'Secular One', sans-serif;;
                }

                button {
                    margin-top: 20px;
                    background-color: lightsteelblue;
                    color: black;
                    padding: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                    border-radius: 10px 10px 10px 10px;
                }

                button:hover {
                    background-color: sienna;
                    color: floralwhite;
                }

                textarea {
                    padding: 5px;
                    margin: 10px;
                    border: none;
                    background-color: transparent;
                    color: black;
                    // text-align: center;
                    justify-content: space-between;
                    // align-items: center;
                }
            }
        }

        .item:hover {
            transform: scale(1.05);
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.6);

        }

        // .i0:hover{
        // }

        // .i1:hover{
        // }

    }

    .item:nth-child(even):hover {
        background: opacify($color: rgb(253, 255, 231), $amount: 0.5);

    }

    .item:nth-child(odd):hover {
        background: opacify($color: rgb(200, 255, 252), $amount: 0.5);

    }
}

.addDish {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // margin: 50px;
    font-size: large;
    // height: 100vh;
    width: 100vw;
    background-color: bisque;

    .head {
        background-color: green;
        color: white;
        width: 41%;
        height: 10%;
        margin-top: 4%;
        margin-bottom: 20px;
        border-radius: 20px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .inner {
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        // margin: 10%;
        padding-top: 2%;
        border-radius: 20px 20px 20px 20px;
        border: 10px solid rgba(0, 0, 0, 0.5);
        width: 40%;
        height: 65%;
        background-color: beige;
        margin-bottom: 7.5%;

        .box {
            // margin: 10%;
            // margin-top: 10%;
            // margin-bottom: 10%;
            margin: 10% 0;

            input {
                border-radius: 10px 10px 10px 10px;
                border-bottom: 1px solid rgb(80, 80, 80);
                padding: 10px;
                width: 100%;
                border: none;
            }


            button {
                width: 40%;
                padding: 10px;
                border: none;
                background-color: lightgreen;
                font-weight: 700;
                font-family: 'Barlow', sans-serif;
                border-radius: 5px 5px 5px 5px;

            }

            button:hover {
                background-color: rgba(#6e8686, 0.9);
                color: white;
                transform: scale(1.05);
            }
        }

        .box:last-child {
            // align-items: center;
            // justify-content: center;
            text-align: center;
        }
    }

}